<%- include('partials/header') -%>

    <div class="container-fluid">
        <main class="tm-main">


            <div class="row tm-row tm-mb-45">
                <div class="col-12">

                    <hr class="tm-hr-primary tm-mb-55">
                    <h1 class="pt-2 tm-mb-40 tm-color-primary text-large text-center"><b>About-US</b></h1>

                    <img src="/img/bg-banner.jpg" class="img-responsive responsive pb-5" alt="" style="width:100%;height:auto;">

                </div>
            </div>
            <div class="row tm-row tm-mb-40">
                <div class="col-12">
                    <div class="mb-4">
                        <h2 class="pt-2 tm-mb-40 tm-color-primary tm-post-title text-center">Why MEd Blogs</h2>
                        <p>
                            You can vist:
                            <a rel="nofollow" href="https://med-pedia.herokuapp.com/" target="_blank">MEd-Pedia</a> Which is a general purpose website,designed and easy to use for anyone.MEd Blogs is an extension of MEd Pedia. Means it is going to be
                            a blog site where health enthusiasts can share their knowledge with general people.This site will contain Blogs which anyone regardless of any prerequisite can visit and enhance their knowledge from.
                        </p>
                        <p>



                            <B>Though knowing about health is a need of each and every person,This Site is Specialy For You If you are:</B>

                            <ul>
                                <li><i class="ri-check-double-line"></i><b>Health Enthusiast</b>,Want to know basics of health care in brief.</li>
                                <li><i class="ri-check-double-line"></i><b>A housewife</b>,Taking care of you and your family</li>
                                <li><i class="ri-check-double-line"></i><b>Student</b>, Who needs to be equipped with basic knowledge of your health</li>
                                <li><i class="ri-check-double-line"></i><b>Living alone</b>,Don't want want to visit a doctor for silly issues</li>
                            </ul>



                        </p>
                    </div>
                </div>

            </div>
            <div class="row tm-row tm-mb-45">
                <div class="col-12">
                    <hr class="tm-hr-primary tm-mb-55">
                    <h2 class="pt-2 tm-mb-40 tm-color-primary tm-post-title text-center">Our Features</h2>

                </div>



            </div>
            <div class="row tm-row tm-mb-120">
                <div class="col-lg-4 tm-about-col">
                    <div class="tm-bg-gray tm-about-pad">
                        <div class="text-center tm-mt-40 tm-mb-60">
                            <i class="fab fas fa-medkit  fa-4x tm-color-primary"></i>
                        </div>
                        <h2 class="mb-3 tm-color-primary tm-post-title text-center">Nesh : Healthcare</h2>
                        <p class="mb-0 tm-line-height-short">
                            Our Nesh is Healthcare that is the posts and the blogs on this site will revolve around Healthcare activities.You are welcomed if you are a Health enthusiasts.Do visit regularly for health related information </p>
                    </div>
                </div>
                <div class="col-lg-4 tm-about-col">
                    <div class="tm-bg-gray tm-about-pad">
                        <div class="text-center tm-mt-40 tm-mb-60">
                            <i class="fas fa-user-edit fa-4x tm-color-primary"></i>
                        </div>
                        <h2 class="mb-3 tm-color-primary tm-post-title text-center">Updated</h2>
                        <p class="mb-0 tm-line-height-short">
                            The site is regulated and update regularly by the admins ensuring that the informations provided be upto the mark.And post are regularly checked updated or reported by the users itself.

                        </p>
                    </div>
                </div>

                <div class="col-lg-4 tm-about-col">
                    <div class="tm-bg-gray tm-about-pad">
                        <div class="text-center tm-mt-40 tm-mb-60">
                            <i class="fab fa-accessible-icon fa-4x tm-color-primary"></i>
                        </div>
                        <h2 class="mb-3 tm-color-primary tm-post-title text-center">Accessible</h2>
                        <p class="mb-0 tm-line-height-short">

                            We made this site responsive so that it can be accessed from any device whether mobile tablet or pc.The UI of this site is made for anyone so understanding it and using it is in the go.
                        </p>
                    </div>
                </div>
            </div>

            <%- include('partials/footer') -%>