<%- include('partials/header') -%>

    <div class="container  justify-content-center align-items-center">
        <div class="col-12 p-5 m-5">
            <h2 class="tm-color-primary tm-post-title tm-mb-60">Compose Your Blog</h2>
            <hr>
            <form method="post" action="/compose" class="p-5" enctype="multipart/form-data">
                <h3>Drop Us a Message</h3>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <input type="text" name="bName" class="form-control" placeholder="Your Name *" value="" />
                        </div>
                        <div class="form-group">
                            <input type="text" name="bEmail" class="form-control" placeholder="Your Email *" value="" />
                        </div>
                        <div class="form-group">
                            <input type="text" name="bHeading" class="form-control" placeholder="Blog Heading *" value="" />
                        </div>
                        <div class="form-group">
                            <input type="text" name="bTags" class="form-control" placeholder="Tags * (saperated by space)" value="" />
                        </div>
                        <div class="form-group">
                            <label class="d-flex align-items-between">Your blog Photo: <input class="form-control-file" type="file" accept="image/*" name="photo"></label>

                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <textarea name="bMsg" class="form-control" placeholder="Your Message *" style="width: 100%; height: 230px; "></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <button class="tm-btn tm-btn-primary tm-btn-small ml-3">Publish</button>
                    </div>
                </div>


            </form>

        </div>

    </div>
    <%- include( 'partials/footer') -%>